
# HTID:1335392: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:1335392:

RedirectMatch 301 /(.*) http://www.codenamenest.tk$1